.flex{
    display: flex;
}

.flex_center_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_rowReverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex_row_center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex_rowReverse_center {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_column_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flexWrap_wrap {
    flex-wrap: wrap !important;
}

.justifyContent_center {
    justify-content: center;
}

.justifyContent_flexEnd {
    justify-content: flex-end;
}

.justifyContent_spaceBetween {
    justify-content: space-between;
}

.justifyContent_spaceAround {
    justify-content: space-around;
}

.alignItems_center {
    align-items: center;
}

.alignItems_flexEnd {
    align-items: flex-end;
}

.flexShrink_0 {
    flex-shrink: 0;
}
