:root {
    --title-color: #041937;
    --text-color: #041937;

    /*button*/
    --primary-button: #FF5B31;
    --primary-light: #FF7001;

    /*color*/
    --primary-color: #FF5B31;
    --input-border-color: #B4B9D5;

    /*Background*/
    --primary-background: #F0E9DF;
}