
button {
    all: unset;
    cursor: pointer;
}

.container_full {
    text-align: center;
    color: white;
    border-radius: 10px;
    background: var(--primary-button);
}

.container_full:hover {
    background: var(--primary-light);
}

.container_border {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background: transparent;
}

.container_border_color {
    text-align: center;
    border: 2px solid var(--primary-button);
    border-radius: 10px;
    color: var(--primary-button);
    background: transparent;
}

.width220 {
    width: 220px;
}

.height50 {
    height: 50px;
}