.header_container {
    height: 220px;
}

.nav_container {
    width: 50%;
}

.logo_container {
    height: 100%;
    width: 250px;
}

.logo {
    height: 100%;
    background-image: url("../../../assets/logo/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}