a {
    all: unset;
    cursor: pointer;
}

.img {
    background-image: url("assets/images/homeImage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media screen and (max-width: 700px) {
    .img_container {
        width: 100%;
    }
}